.voice{
    display: flex;
    margin-right: 99px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.1);
    max-height: 71px;
    background-color: white;
    border-radius: 28px;
    max-width: 222px;
    padding: 10px;
    margin-bottom: 30px;
}

.btns{
   display: flex;
    
   
   
  
}
.btns button{
    padding: 10px;
   
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 15px;
    background-color: #151741;
    
}
.top{
    margin-top: 269px;
}
.osn{
    margin-right: 20px;
}
.text{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    display: flex;
}
.text2{
    color: white;
    margin-bottom: 50px;
}