.voice{
    margin-right: 30px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.1);
    max-height: 65px;
    background-color: white;
    border-radius: 28px;
    max-width: 230px;
    padding: 10px;
    margin-bottom: 30px;


}

.btns{
   display: flex;
    margin: 0 auto;
   
   
  
}
.btns button{
    padding: 10px;
    
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 15px;
  
    
}
.top{
    background-image: url('nmn.jpg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 180px;
    margin-bottom: 50px;
}
.osn{
    margin-right: 20px;
}
.text{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    width: 70%;
    text-align: left;
    padding-left: 20px;
    display: flex;
}
.text2{
    color: white;
    margin-bottom: 50px;
}

.countryButtons{
    position: absolute;
    top: 20px;
    left: 10px;
    overflow-y: hidden;
}
.countryButtons button img{
    width: 100%;
    height: 100%;
    border-radius: 100%;

}
.countryButtons button{
    border: 4px solid white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


