.block{
    margin-top: 100px;
    background: white;
    height: 40vh;
    padding: 20px;
    border-radius: 10px;
}

.choice{
    display: flex;
    justify-content: space-around;
}
.choice button{
    padding: 10px;
    color: black;
    background-color: ;
}